article {
  background-color: #FFF1;
  padding: 12px;
  margin-bottom: 32px;
  border-radius: 6px;
}

blockquote {
  font-style: unset;
}

@media (prefers-color-scheme: dark) {
  article {
    background-color: #FFF1;
  }
}

@media (prefers-color-scheme: light) {
  article {
    background-color: #0001;
  }
}

article h2 {
  margin-top: 0;
}
