body {
  scroll-snap-type: y proximity;
}

article {
  scroll-snap-align: start;
  background-color: #FFF1;
  padding: 12px;
  margin-bottom: 32px;
  border-radius: 6px;
}

blockquote {
  font-style: unset;
}

@media (prefers-color-scheme: dark) {
  article {
    background-color: #FFF1;
  }
}

@media (prefers-color-scheme: light) {
  article {
    background-color: #0001;
  }
}

article h2 {
  margin-top: 0;
}

.YHWH__first {
}

.YHWH__rest {
  text-transform: uppercase;
  font-size: 0.8em;
}

.notes-header {
  cursor: pointer;
}

.notes-header:after {
  content: '▾';
}

.notes-header.notes-header--show:after {
  content: '▴';
}

.notes-header:not(.notes-header--show) ~ * {
  display: none;
}
